# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\minecraft\Tools\20w14Infinite_Dimension_Finder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
